<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- passing the dynamic value from app.js file --}}
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if productCSS}}
      <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    {{#if formsCSS}}
      <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                {{!-- if the values are provided by the .js class, then it will take it as true, else values are taken as false --}}
                <li class="main-header__item"><a class="{{#if activeShop}}active{{/if}}" href="/">Shop</a></li>
                <li class="main-header__item"><a class="{{#if activeAddProduct}}active{{/if}}" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    {{!-- this is a special syntax which handlebars understand, all the above content will be exported to file which rendering this layout --}}
    {{{ body }}}
</body>

</html>