<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Server Side Error!</h1>
    <h2>Try after some time. Sorry for the inconvience</h2>

<%- include('includes/end.ejs') %>