//- extending mainContent file which contains the commin code for navbar
extends layouts/mainContent.pug

//- adding stylesheet
block style
  link(rel="stylesheet", href="/css/product.css")

//- adding more content
block content
  main
    h1 My Products
    p List of products

    if prods.length > 0
      //- if element is "div", no need to specify as by default, it takes "div" as a container
      .grid
        each product in prods
          //- if there are mutilple classes then write class next to each other, putting "." operator in between the classes names 
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            .card__image
              //- where there are multiple attributes, seprate then with ","(comma)
              //- eg: src="", alt=""
              img(src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png", alt="A Book")
            .card__content
              h2.product__price $19.99
              p.product__description A very interesting book about so many even more interesting things!
            .card__actions
              button.btn Add to Cart 
    else
      h1 No Products
            